* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000000;
    font-size: 21px;
    line-height: 36px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #EDEEF3;
    /* position: fixed; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

img {
    display: block;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 688px;
    margin: 0 auto;
}

.title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    display: swap;
}

@media (max-width: 700px) {
    .container {
        padding: 40px;
    }

}
