.footer {
    padding: 13px 0 17px;
    background-color: #EDEEF3;
    text-align: center;
    margin-top: auto;
    /* border-top: 2px solid #CED4DA; */
}
.footer__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #6C757D;
    margin-top: 64px;
}

.footer__subtitle::before {
    content: "";
    display: block;
    background-color: #CED4DA;
    width: 986px;
    height: 1px;
    margin-top: -13px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
