header {
    padding: 68px 0 71px;
    background-color: #3A4F63;
    /* height: 295px; */
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #CFF4FC;
    text-align: center;
    margin-bottom: 4px;
}

.header__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    color: #CFF4FC;
    text-align: center;
    margin-bottom: 68px;
    position: relative;
}
.header__input {
    display: block;
    margin: 0 auto;
    width: 820px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding-left: 32px;
    text-align: left;
    color: #ABB5BE;
    font-size: 24px;
    line-height: 21px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;
}









