.services {
    margin-top: 79px;
}
.services__wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    gap: 19px;
}
.services__item {
    width: 316px;
    min-height: 186px;
    border: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.item__picture {
    font-size: 48px;
    line-height: 48px;
    color: #68717A;
}
.item__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 28px; 
    text-decoration-line: underline;
    color: #000000;
    text-align: center;
    margin: 18px 0 12px;
    word-wrap: break-word;
    /* max-width: 250px; */
}
.item__text {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3F444A;
    word-wrap: break-word;
    max-width: 268px;
    height: auto;
    margin-bottom: 39px;
}
